/* Gradiente para encabezado */
.bg-gradient {
    background: linear-gradient(90deg, #6f42c1, #5a369e);
  }
  
  /* Color uniforme para los íconos */
  .text-icon {
    color: #6f42c1;
  }
  
  /* Estilos para las tarjetas */
  .card {
    border-radius: 15px;
  }
  
  .card i {
    margin-bottom: 10px;
  }
  
  /* Botones */
  .btn-primary {
    background: #6f42c1;
    border: none;
  }
  
  .btn-primary:hover {
    background: #5a369e;
  }
  
/* Pie de página hacer que permanezca abajo del contenido */
footer {
    background: #343a40;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
  

 